*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#game-window {
    width: 100vw;
    height: 100vh;
    cursor: none;
}
.scores {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    flex-direction: row;
    opacity: 0.5;
}
.scores p {
    margin: 0;
    width: 50%;
    font-size: 7vh;
    font-family: sans-serif;
    padding: 0 2vh;
}
.scores :first-child {
    text-align: right;
}
